:root {
  --red: #c90002;
  --light-red: #e04444;
}

html,
body {
  scroll-behavior: auto !important;
  /* disable native smooth */
  overflow-x: hidden;
  overscroll-behavior: none;
}


body {
  font-family: "Instrument Sans", sans-serif;
}

.blog-body h3 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -1px;
}

.blog-body p {
  margin-bottom: 28px;
}

@media (pointer: coarse) {
  html,
  body {
    scroll-behavior: smooth;
  }
}