@import "tailwindcss";

@font-face {
  font-family: "Instrument Sans";
  src: url("/fonts/InstrumentSansFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #092a54;
  --color-secondary: #19bec9;

  --color-1: #c5c5c5;
  --color-2: #f5f5f5;
  --color-3: #191919;
  --color-4: #313131;
  --color-5: #eaeaea;

  --font-instrument-sans: "Instrument Sans", sans-serif;
}

@layer components {
  .blog-body h3 {
    @apply text-[22px] md:text-[24px] lg:text-[26px] xl:text-[28px] leading-[135.714%] tracking-[-0.28px] font-semibold mb-1;
  }

  .blog-body p {
    @apply text-[20px] mb-7
  }

  .blog-body hr {
    @apply border-1 my-4
  }

  .blog-body ul {
    @apply list-disc list-inside text-[20px] space-y-3;
  }

  .blog-body ul>li>p {
    @apply mb-0 inline
  }
}

html,
body {
  scroll-behavior: auto !important;
  overflow-x: hidden;

  font-family: "Instrument Sans", sans-serif;
}

/* @media (pointer: coarse) {
  html,
  body {
    scroll-behavior: smooth !important;
  }
} */

.sticky-menu-animation {
  animation: .35s ease-out slidedown;
}

@keyframes upDown {
  0% {
    transform: translateY(0)
  }

  to {
    transform: translateY(20px)
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(-150%)
  }

  to {
    transform: translateY(0)
  }
}